html
  head
    title Scraped Headless Browser Resources
  body
    h1 Latest Headless Browser Resources

    h3 Medium Articles
    ul
      for article in data.articles
        li
          if article.title
            a(href=`${article.link}` target='_blank')= `${article.title}`
          else
            a(href=`${article.link}` target='_blank')= `${article.link}`

    h3 Latest YouTube Videos
    ul
      for video in data.videos
        li
          a(href=`https://www.youtube.com/${video.link}` target='_blank')= `${video.title}`